.label_name {
  position: absolute;
  top: 80px;
  left: 80px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.event {
  position: relative;
}

.event img {
  width: 170%;
  height: 250px;
}

.browse {
  font-size: 20px;
}
