label {
  margin-top: 2%;
}

form {
  margin-bottom: 10%;
}

.label_name {
  position: absolute;
  top: 80px;
  left: 80px;
  color: green;
  font-size: 35px;
}

.dish {
  position: relative;
}

.form-check-label {
  margin-right: -10px !important;
}

#calories {
  width: 25% !important;
}

#query {
  width: 25% !important;
  margin-right: 2%;
}

.dish img {
  width: 150%;
  height: px;
}

@media screen and (max-width: 768px) {  
  .label_name {
  position: absolute;
  top: 80px;
  left: 80px;
  color: green;
  font-size: 20px;
  font-weight: 900;
}

label {
  margin-left: 2%;
}

}
