@font-face {
  font-family: "Acumin Pro";
  src: url("./fonts/Acumin-ItPro.otf");
  font-family: "Acumin Pro bold";
  src: url("./fonts/Acumin-BdPro.otf");
}

body {
  margin: 0;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  color: #f3afcb;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Acumin Pro bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background-color: #dd4883;
  height: 8vh;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  width: 30%;
  margin-top: 4%;
  margin-left: 16px;
}

.link {
  margin-left: 90%;
  margin-left: 2%;
  margin-top: 1%;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  width: 4vw;
}

.two {
  display: flex;
  justify-content: center;
  margin-left: 2%;
}

.hide {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: dimgray;
  line-height: 2;
  padding: 20px 0;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: white;
  display: none;
  position: absolute;
  right: 85px;
  height: 60px;
}

.featured {
  color: dimgray;
}

.featured,
.branding {
  font-size: 9px;
  display: flex;
  justify-content: center;
}

.branding {
  text-decoration: underline;
}

.hide_two {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: dimgray;
  line-height: 2;
  padding: 20px 0;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: white;
  position: absolute;
  right: 40px;
  top: 80px;
  display: none;
}

.matches {
  margin-top: 130px;
}

.match {
  background-image: url("https://res.cloudinary.com/erezfriemagor/image/upload/v1622463601/n2nxgeuh750ao53dzuh4.jpg");
}

.image {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 42px;
  background-blend-mode: lighten;
}

.image_container {
  display: flex;
}

.table {
  border-top: none;
}

.cell {
  position: relative;
}

.info {
  position: absolute;
  top: 20px;
  left: 50px;
  color: blue;
}

.pinfo {
  color: white;
}

.ainfo {
  color: yellow;
  z-index: 2;
  font-weight: bold;
}

.ldate {
  color: white;
}

.pdate {
  margin-left: 90px;
  color: red;
  font-size: 20px;
}

.table {
  background-color: #dd4883;
  margin-right: 60px;

}

.league  {
  height: 100px;
}

.table td{
  display: flex;
  justify-content: space-between;
}

.page{
  background-color: #dd4883;
}

.lname {
  background-color: #dd4883;
  height: 230px;
}

.ltitle {
  margin-top: 100px;
  margin-left: 230px;
  color:  #f3afcb;
}

.views {
  margin-right: 35vw;
}

.leagues_list {
  margin-top: 100px;
  background-color: #fc5193;
}

.page {
  margin-top: 60px;
}

.league_name {
  position: absolute;
  margin-left: 100px;
  margin-top: 120px;
  color: white;
  text-decoration: none;
}

.leagues_table {
  margin-top: 70px;
  width: 100vw;
}

.league_card {
  height: 45vh;
  background-color: #fc5193;
  position: relative;
  margin-right: -5.5px;
}

table  {
  width: 100%;
}

.lename {
  position: absolute;
  top: 120px;
  left: 90px;
  color: white;
  font-size: 30px;
}

.dark {
  background-color: #dd4883;
}

.limage {
  width: 100px;
}



.ptitle {
  position: absolute;
  top: 200px;
  left: 20px;
  color: white;
}

.table tr {
  width: 100vw;
}

.mcard {
  width: 100vw;
  height: 12vh;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.league_top {
  background-color: #fb5092;
  height: 45vw;
  margin-bottom: 0.01vw;
}

.name {
  margin-left: 160px;
}

.image_top {
  top: 130px;
  position:absolute;
  width: 130px;
  left: 55px;
}

.homepage {
  background-color: #dd4883;
}

.back {
  position: absolute;
  font-size: 30px;
  top: 20px;
  left: 20px;
  color: white;
}

.mdate {
  padding-right: 60px;
  display: flex;
}

.dword {
  margin-right: 5px;
}

.fa-arrow-circle-right
{
  margin-left: 20px;
}



