@font-face {
  font-family: "Gill Sans";
  src: url("./fonts/Gill\ Sans\ Bold\ Italic.otf");
  font-family: "Lato Thin";
  src: url("./fonts/Lato-Thin.ttf");
}

.navbar {
  position: fixed;
  color: #f3afcb;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #dd4883;
  height: 8vh;
  width: 100%;
  z-index: 1;
}

body {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.views {
  margin-right: 35vw;
}

.lename {
  position: absolute;
  top: 120px;
  left: 90px;
  color: white;
  font-size: 30px;
}

.dark {
  background-color: #cd4377;
}

.bright {
  background-color: #cf4278;
  opacity: 0.95;
}

.table tr {
  width: 100vw;
}

.mcard {
  width: 100vw;
  height: 15vh;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.league_top {
  background-color: #fb5092;
  height: 45vw;
  margin-bottom: 0.01vw;
}

.name {
  margin-left: 160px;
}

.image_top {
  top: 130px;
  position:absolute;
  width: 130px;
  left: 55px;
}


.mdate {
  padding-right: 60px;
  display: flex;
}

.dword {
  margin-right: 5px;
}

.fa-arrow-circle-right
{
  margin-left: 20px;
}

.back {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.table {
  background-color: #fb5092;
}

.leagues_list {
  width: 100%;
  margin-top: 70px;
  margin-left: -1px;
  border-spacing: 5px;
}

.league_card {
  height: 20vh;
  width: 50vw;
}

.adjust {
  margin-right: -2px;
  border-right: solid 0.1px  #fb5092;
  border-top: solid 2px  #fb5092;
  margin-top: -3px;
  position: relative;
  z-index: 1;
}

.area {
  position: absolute;
  color: white;
  top: 120px;
  right: 80px;
  font-size: 25px;
}