@font-face {
  font-family: "Acumin Pro";
  src: url("./fonts/Acumin-ItPro.otf");
  font-family: "Acumin Pro bold";
  src: url("./fonts/Acumin-BdPro.otf");
}

body {
  margin: 0;
  font-family: "Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Acumin Pro bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  height: 12vh;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  width: 30%;
  margin-top: 4%;
  margin-left: 16px;
}

.link {
  margin-left: 1%;
  margin-left: 2%;
  margin-top: 1%;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  width: 4vw;
}

.two {
  display: flex;
  justify-content: center;
  margin-left: 2%;
}

.hide {
  font-family: inherit;;
   font-size: 11px;
   font-weight: bold;
   color: dimgray;
   line-height: 2;
   padding: 20px 0;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: white;
   display: none;
   position: absolute;
   right: 85px;
   height: 60px;
}

.featured {
  color: dimgray;
}

.featured,
.branding {
  font-size: 9px;
  display: flex;
  justify-content: center;
}

.branding {
  text-decoration: underline;
}

.hide_two {
  font-family: inherit;;
   font-size: 11px;
   font-weight: bold;
   color: dimgray;
   line-height: 2;
   padding: 20px 0;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: white;
   position: absolute;
   right: 40px;
   top: 80px;
   display: none;
}

.matches {
  margin-top: 130px;
}

.match {
  background-image: url("https://res.cloudinary.com/erezfriemagor/image/upload/v1622463601/n2nxgeuh750ao53dzuh4.jpg");
}

.container {
  margin-left: 30px;
}

.image {
  width: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.image_container 
{
  display: flex;
}

.table {
  border-top: none;
}

.cell {
  position: relative;
}

.info {
  position: absolute;
  top: 20px;
  left: 50px;
  color: blue;
}

.pinfo {
  color: white;
}

.ainfo {
  color: yellow;
  z-index: 2;
  font-weight: bold;
}




